body {
 padding: 1vw;
 display: flex;
 flex-direction: column;
 gap: 10vh;
 background: #262626;
 color: #d6d6d6;
 font-family: 'Fira Code';
}

header {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 align-items: center;
}

h1 {
 padding: 1%;
 background: #141414;
 border-radius: 10px;
}

h2 {
 text-align: center;
 text-decoration: underline;
 text-underline-offset: 10px;
}

main {
 display: flex;
 justify-content: center;
}

.calculator {
 display: flex;
 flex-direction: column;
 gap: 5%;
 color: #262626;
 background: #d6d6d6;
 border-radius: 20px;
 padding: 4vh;
}

#view {
 height: 20vh;
 align-self: center;
 width: 40vw;
 background: black;
 border-radius: 20px;
 margin-bottom: 20px;
}

#pad{
  display: flex;
}

#numpad{
  display: grid;
  grid-template-columns: auto auto auto;
  flex-grow: 1;
}

#operations{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#numpad *, #operations *{
  color: #d6d6d6;
  padding: 25px;
  background: #141414;
  border-radius: 20px;
  margin: 5px;
  text-align: center;
}

#equal{
  grid-column: span 2;
}
